* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess {
  display: flex;
  flex-direction: column;
}

.chess_item {
  width: 6vw;
  height: 6vw;
  border: 1px solid black;
}

.letters_item {
  width: 6vw;
  height: 6vw;
  text-align: center;
}

.chess_list,
.letters {
  display: flex;
}

.odd {
  background-color: black;
}

.letters_item,
.num {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
